*.pyc
media/
*.rar
debug.log
migrations/
project/migrations/
account/migrations/

runitem/settings.py
settings.py
.settings/
uwsgi.ini
reload
static/excel/*.xls
debug.log.*
out*.xls
*.pem
.pydevproject
.project

rubishcode/
venv/
requirements.txt
templates/
pro.txt
account/__pycache__/
busimgm/__pycache__/
project/__pycache__/
__pycache__/
.idea/

.idea/workspace.xml

.idea/*

db.sqlite3

frontend/package-lock.json
celerybeat*
