body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus
      outline: none;
html,body
  height: 100%;
  width: 100%;
.ellipsis
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
.row_top
  margin-top: 35px;
.margin_clear
  margin: 0;
.margin_left
  margin-left: 20px;
.flex_default
  display: flex
.row_bottom
  margin-bottom: 120px
.table-list
  text-align: center;
  .el-table
    font-size: 12px;
  .el-table th .cell
    text-align: center !important;
    font-size: 14px;
  .el-table th, .el-table tr
    background: none;
  .has-gutter
    background: #dedede;
    color:#171717;
    font-weight: normal;
    th
      font-weight: normal;
  .operation_button
    display: flex;
    flex-direction: column;
    justify-content: center;
    .op_button_padding
      margin: 6px 0;
    .el-button
      font-size: 12px;
      padding: 7px 10px;
.pagination
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  .el-pager
    li.active
      border: none;
      background-color:#f4623a !important;
.form_table
  padding-right: 60px;


